body{
  background-color: #e0c98b;
}
.logo{
	margin: 0 auto;
}
#homepage{
  padding-top: 140px;
}
.navbar-default{
	background-color: #e0c98b !important;
	border: none !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  background-color: #e0c98b !important;
}
.nav_text{
	color: #804a1f !important;
	font-size: 25px; 
	font-family: Times New Roman; 
	font-weight: bold; 
	text-transform: lowercase;
}
.page{
	color: #804a1f !important;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Times New Roman;
  padding-top: 20px;
  padding-bottom: 0px;
}
.welcome_reception{
	color: #804a1f !important;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: Myriad Pro;
	padding-top: 30px;
}
.welcome_reception2{
	color: #361f0c !important;
	text-align: center;
	font-size: 27px;
	font-weight: bold;
	font-family: Myriad Pro;
	padding-top: 20px;
	padding-bottom: 40px;
}
.text{
	color: #361f0c;
	font-size: 16px;
	font-family: Myriad Pro;
	text-align: center;
	margin-top:0px;
	margin-bottom:0px;
}
#highlight{
	color:#361f0c !important; 
	text-align: center;
	font-weight: bold;
}
.registration{
	font-size: 16px;
	font-family: Myriad Pro;
	text-align: center;
}
.cancellations{
	font-size: 13px;
	font-family: Myriad Pro;
	text-align: center;
}
.place{
	color:#804a1f !important;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: left;
}
.address{
	color: #361f0c !important;
	margin-top:0;
	margin-bottom: 0;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
}
.number{
	color: #361f0c !important;
	margin-top:0;
	margin-bottom: 15px;
	text-align: left;
	font-size: 13px;
}
.pike{
	margin-left: 30px;
}
#hotel_text{
	padding-left: 250px;
}
.speakers_img{
	float: left;
  margin-bottom: 5px;
}
#speakers_section{
	padding: 10px 0;
}
.title{
	color: #361f0c !important;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  font-size: 13px;
  font-family: arial, Open sans-serif;
}
.details{
	color: #361f0c !important;
	margin-top:0;
	margin-bottom: 0px;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
  font-family: arial, Open sans-serif;
}
#speaker_text{
	padding-left: 170px;
}
.speakers_button{
	margin:0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
.name{
	color:#804a1f !important;
	font-size: 15px;
	font-weight: bold;
  font-family: arial, Open sans-serif;
	margin-bottom: 0;
	text-align: left;
	padding-left: 15px;
}
.last_name{
	color:#804a1f !important;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
	text-align: left;
	padding-left: 10px;
  font-family: arial, Open sans-serif;
}
#embracing{
     margin-bottom: 20px;
  }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	#hotel_text{
  		padding-left: 0px;
  	}
  	.page{
  		padding-top:10px;
  		padding-bottom:10px;
  	}
  	.welcome_reception2{
  		padding-top: 10px;
    	padding-bottom: 10px;
  	}
  	#speaker_text{
  		padding-left: 67px;
  	}
  	.retailer_title {
    color: #361f0c !important;
    font-family: Open Sans;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 10px;
    padding-right: 100px;
    font-weight: bold;
    padding-bottom: 15px;
	}
	.btn-default {
	    color: #ffffff;
	    background-color: #b0662b;
	    border-color: #e0c98b;
	    font-size: 15px;
	}
  #homepage{
        padding-top: 0px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	#hotel_text{
  		padding-left: 25px;
  	}
  	.page{
  		padding-top:10px;
  		padding-bottom:10px;
  	}
  	.welcome_reception2{
  		padding-top: 10px;
    	padding-bottom: 10px;
  	}
  	#speaker_text{
  		padding-left: 67px;
  	}
	.btn-default {
	    color: #ffffff;
	    background-color: #b0662b;
	    border-color: #e0c98b;
	    font-size: 15px;
	}
  #homepage{
        padding-top: 0px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  	#hotel_text{
  		padding-left: 25px;
  	}
  	.page{
  		padding-top:10px;
  		padding-bottom:10px;
  	}
  	.welcome_reception2{
  		padding-top: 10px;
    	padding-bottom: 10px;
  	}
	#speaker_text{
  		padding-left: 108px;
  	}
  	.btn-default {
	    color: #ffffff;
	    background-color: #b0662b;
	    border-color: #e0c98b;
	    font-size: 20px;
	}
  #homepage{
        padding-top: 0px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  	#hotel_text{
  		padding-left: 45px;
  	}
  	.page{
  		padding-top:10px;
  		padding-bottom:10px;
  	}
  	.welcome_reception2{
  		padding-top: 10px;
    	padding-bottom: 10px;
  	}
  	#speaker_text{
  		padding-left: 145px;
  	}
  	.btn-default {
	    color: #ffffff;
	    background-color: #b0662b;
	    border-color: #e0c98b;
	    font-size: 20px;
	}
  #homepage{
        padding-top: 0px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
/* ----------- iPad mini ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
  .name {
    color: #804a1f !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
  }
  #homepage{
        padding-top: 0px;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
     #hotel_text{
    padding-left: 150px;
  }
}

/* ----------- iPad 1 and 2 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}