/* GENERAL STYLE */
.city_image{
	margin: 0 auto;
	width: 100%;
}
.index_image{
	margin:0 auto;
}
.header-border{
	text-align: center;
	font-size: 41px;
	font-weight: 800;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
	background-color: #1c3b6e;
	color: #ffffff;
	margin-top: 30px;
	margin-bottom: 10px;
}
#like_design{
    width: 1057px;
    margin: 30px auto;
}
.foot_notes{
	color: #361f0c;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 800;
}
.foot_notes_2{
	color: #361f0c;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
}
.bold{
	font-weight: 600;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;;
	font-size: 21px;
}
#email_us{
	color: #361f0c !important;
}
.email_link{
	color: #361f0c;
}
#footer_border{
	border-bottom: solid 40px #1c3b6e;
}
/* END OF GENERAL */
/* navy */
.navbar {
  background-color: #dee4f3;
  font-family: 'Open Sans', sans-serif;
}
nav, li, .nav_text{
	color: #1c3b6e !important;
	padding-left: 10px;
    padding-right: 10px;
    font-size: 27px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
a {
    color: #361f0c;
    text-decoration: none;
}
#first_option{
	padding-left: 50px;
}
.pike{
    margin-left: 25px;
}
/* END OF navy */
/*Index Page */
.hp_copy{
	color: #5d3514;
    font-size: 27px;
    text-align: center;
    font-family: 'Open sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
/*End of Index Page */

/*Agenda Page */
.a{
	font-size: 27px;
	text-align:center;
	font-weight: 800;
	color: #1c3b6e;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
	margin-bottom: 0px;
}
.b{
	font-size: 21px;
	text-align:center;
	font-weight: 600;
	color: #4d4d4f;
	font-family: 'Open sans', Helvetica, Arial, sans-serif;
	margin-top: 0px;
}
.c{
	color: #000000;
	text-align:center;
	font-size: 20px;
}
.d{
	text-align:center;
}
.e{
	text-align:center;
}
#bgcolors{
	background-color: #dcddde;
    width: 300px;
    height: 300px;
    margin-right: 40px;
    padding: 10px;
    margin-left: 40px;
}
.hotelname{
    text-align: left;
    font-size: 17px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    color: #1c3b6e;
    font-weight: 700;
	margin-bottom: 0px;
}
.hosttext{
	font-size: 14px;
	font-family: Arial, helvetica, sans-serif;
	text-align: left;
	margin-bottom: 0px;
}
.host_text{
	color: #000000;
	font-size: 17px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
	margin-bottom: 0px;
	font-weight: lighter;
}
.hostnumber{
	margin-top: 0px;
}
#hostextraspace{
	margin-bottom: 15px;
}
/*End of Agenda Page */

/*Speakers Page */
.ms_header-border{
	text-align: center;
    font-size: 41px;
    font-weight: 800;
    font-family: 'Open sans', Helvetica, Arial, sans-serif;
    background-color: #1c3b6e;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 500px;
    margin-left: 31px;
}
.speakers_image{
	margin-top: 30px;
	width: 513px;
}
.bios_image{
	margin: 0 auto;
}
.center_name{
	text-align: center;
}
#moderators{
	padding-right: 25px;
	padding-left: 25px;
}
.foot_notes{
	text-align: center;
	font-size: 15px;
    margin-top: 70px;
}
.foot_notes_2{
	text-align: center;
	font-size: 11px;
}
/*End of Speakers Page */

/*Hotel Page */

/*End of Hotel Page */