<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<br/>
	  <div class="clickhere_button">
	    <a class="btn btn-default" href="https://www.cvent.com/events/2017-impact-seminar/registration-1c1c1cb08ccc47eabd7ebc0a9b37c1d2.aspx" role="button">Click Here To Register</a>
	  </div>
	  <!-- <img src="http://assets.mshanken.com/promo/images/IMPSeminar17_Agenda_v2-button.jpg" alt="click here" class="img-responsive click_here"><br/> -->
	  <p class="hotel_footer_text"><strong>For questions email <a href="mailto:events@mshanken.com" style="color:#5d3514 !important;">events@mshanken.com</a></strong></p><br/>
	  <p class="hotel_footer_text_2">Cancellations until January 30, 2017 are subject to a $500 per person cancellation fee.<br/> After that date there are no refunds. Registration preference is given to trade members.<br/> Seminar sponsor reserves the right to refuse admission to any applicant.</p>
</div>