/*#bio_borders{
  border: solid 3px #dee4f3;
}*/
/* site_space */
.site_space{
  width: 1024px;
  margin: 0 auto;
}
/* nav */
.navbar {
  background-color: #dee4f3;
  font-family: 'Open Sans', sans-serif;
}
nav, li, a {
  color: #1c3b6e !important;
}
.nav_text{
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
#hometext_test {
  margin-left: 40px;
}
.pike{
  padding-left: 20px;
}
/* end of nav */

.background-image{
  /*background-image: url('http://assets.mshanken.com/promo/images/IMPSeminar17_STD-V1.jpg');*/
  background-repeat: no-repeat;
  background-position: center;
  height: 1180px;
}
sup {
    top: -.9em !important;
    font-size: 18px !important;
    font-weight: lighter !important;
}
/*  Hotel Page */

.main_image{
  margin:0 auto;
}
.hotel_header{
  color: #1c3b6e;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.hosting{
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.welcome_reception{
  color: #5d3514;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
#hotel_address{
  text-align: left;
}
.place{
  color: #1c3b6e;
  font-family: 'Open Sans', sans-serif;
  font-size:19px;
  font-weight:700;
  margin-bottom: 0;
}
.address{
  color: #5d3514;
  font-family:'Open Sans', sans-serif;
  font-size:17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.number{
  color: #5d3514;
  font-family:'Open Sans', sans-serif;
  font-size:17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.hotel_extra_space{
  margin-top: 25px;
}
.hotel_footer_text{
  color: #5d3514;
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.hotel_footer_text_2{
  color: #5d3514;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 35px solid #1c3b6e;
  font-family: 'Open Sans', sans-serif;
}
#hotel_footer{
  padding-top: 35px;
  color: #361f0c;
  font-size: 17px;
  text-align: center;
}
/*  Hotel Page */

/* Agenda Page */
.heading-border{
  border-top: 1px solid #596f95;
  margin-top: 40px;
}
#horizontal_borders{
  display: block;
  background-color:white;
  width: 300px;
  margin: -35px auto 0;
}
.section_header{
  color: #1c3b6e;
  font-family: 'Open Sans', sans-serif;
  font-size:19px;
  font-weight:800;
  text-align: center;
}
.agenda_date{
  color: #5d3514;
  font-family:;
  font-size:16px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
.agenda_host{
  color: #5d3514;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
.agenda_time{
  color: #5d3514;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
.agenda_place{
  color: #5d3514;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
.agenda_text{
  color: #5d3514;
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
}
.click_here{
  margin:0 auto;
}
.clickhere_button{
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  color: #ffffff !important;
  background-color:#1c3b6e !important;
  padding:15px 100px 15px 100px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
/* End of Agenda Page */

/* Speaker Page */
.host_name{
  color: #1c3b6e;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}
.host_title{
  color: #466597;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
#speakers_borders {
  display: block;
  background-color: white;
  width: 400px;
  margin: -35px auto 0;
}
.speakers_quote{
  color:#808285; 
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
#owners_borders{
  display: block;
  background-color: white;
  width: 161px;
  margin: -35px auto 0;
}
#creating_space{
  margin-bottom: 20px;
}
#speakers_space{
  margin-top: 20px;
}
/* End of Speaker Page */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .site_space{
      width: 100%;
      margin: 0 auto;
    }
    nav, li, a {
      color: #1c3b6e !important;
    }
    .navbar{
      background-color: #dee4f3;
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    .visible-xs{
       background-color: #28375c;
    }
    .btn {
      color: #ffffff !important;
      background-color: #1c3b6e !important;
      padding: 15px 15px 15px 15px;
      margin: 0 auto;
      font-size: 23px;
      font-weight: bold;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .site_space{
      width: 100%;
      margin: 0 auto;
    }
    nav, li, a {
      color: #1c3b6e !important;
    }
    .navbar{
      background-color: #dee4f3;
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    .visible-xs{
       background-color: #28375c;
    }
    .btn {
      color: #ffffff !important;
      background-color: #1c3b6e !important;
      padding: 5px 5px 5px 5px;
      margin: 0 auto;
      font-size: 23px;
      font-weight: bold;
    }
    .hotel_header{
      color: #1c3b6e;
      font-family: Times New Roman;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }
    .heading-border{
      border-top: 1px solid #596f95;
      margin-top: 40px;
    }
    .welcome_reception{
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }
    #center_mobile{
      margin-left: 45px !important;
      margin-top: 15px !important;
    }
    #owners_borders {
      display: block;
      background-color: white;
      width: 120px;
      margin: -20px auto 0;
    }
    #owner_biopics{
      margin-right: 50px !important;
    }
    #creating_space {
      margin-bottom: 20px;
      margin-left: 33px;
    }
    #speakers_borders {
      display: block;
      background-color: white;
      width: 230px;
      margin: -20px auto 0;
    }
    #horizontal_borders {
      display: block;
      background-color: white;
      width: 168px;
      margin: -21px auto 0;
    }
    #moderators_space{
      margin-bottom: 20px;
      margin-left: 30px;
    }
    .host_title {
    color: #466597;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    }
    .host_name {
    color: #1c3b6e;
    font-family: ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px !important;
    margin-left: 5px !important;
    }
    .first_row_last_hotel{
      margin-bottom: 15px !important;
    }
    .hotel_extra_space{
      margin-top: 5px !important;
    }
    #bio_pic_space{
      margin-top: 20px !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .site_space{
      width: 100%;
      margin: 0 auto;
    }
    nav, li, a {
      color: #1c3b6e !important;
    }
    .navbar{
      background-color: #dee4f3;
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    .visible-xs{
       background-color: #28375c;
    }
    .btn {
      color: #ffffff !important;
      background-color: #1c3b6e !important;
      padding: 5px 5px 5px 5px;
      margin: 0 auto;
      font-size: 23px;
      font-weight: bold;
    }
    #owner_biopics {
      margin-right: 80px !important;
    }
    #center_mobile {
      margin-left: 70px !important;
      margin-top: 15px !important;
    }
    #creating_space {
      margin-bottom: 20px;
      margin-left: 55px;
    }
    #moderators_space {
      margin-bottom: 20px;
      margin-left: 55px;
    }
    #speakers_space{
      margin-top: 0px !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .site_space{
      width: 100%;
      margin: 0 auto;
    }
    nav, li, a {
      color: #1c3b6e !important;
    }
    .navbar{
      background-color: #dee4f3;
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    #hotel_address{
    text-align: left;
    width:100%;
  }
  /* Agenda Page */
  .btn {
      color: #ffffff !important;
      background-color: #1c3b6e !important;
      padding: 5px 5px 5px 5px;
      margin: 0 auto;
      font-size: 30px;
      font-weight: bold;
      border-radius: 0px;
    }
    #horizontal_borders {
      display: block !important;
      background-color: white !important;
      width: 230px !important;
      margin: -28px auto 0 !important;
    }
    .hotel_header {
      color: #1c3b6e;
      font-family: Times New Roman;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
    }
    .section_header {
      color: #1c3b6e;
      font-family: 'Open Sans', sans-serif;
      font-size: 27px;
      font-weight: bold;
      text-align: center;
    }
    .agenda_date {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .agenda_host {
        color: #5d3514;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .agenda_time {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .agenda_place {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 23px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .agenda_text {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 24px;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    /* End of Agenda Page */

    /* Footer style */
    .hotel_footer_text {
      color: #5d3514;
      font-size: 24px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }
    .hotel_footer_text_2 {
      color: #5d3514;
      font-size: 24px;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 35px solid #1c3b6e;
      font-family: 'Open Sans', sans-serif;
    }
    /* End of Footer style */

    /* Hotel Page */
    .first_row_last_hotel{
      margin-bottom: 15px;
    }
    .place {
      color: #1c3b6e;
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 0;
    }
    .address {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .number {
      color: #5d3514;
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    /* site_space */
    .site_space{
      width: 100%;
      margin: 0 auto;
    }
    /* site_space */
    #center_mobile{
      margin-left: 90px !important;
      margin-top: 15px !important;
    }
    #owners_borders {
      display: block;
      background-color: white;
      width: 161px;
      margin: -28px auto 0;
    }
    #owner_biopics{
      margin-right: 100px !important;
    }
    #creating_space {
      margin-bottom: 20px;
      margin-left: 75px;
    }
    #speakers_borders {
      display: block;
      background-color: white;
      width: 301px;
      margin: -30px auto 0;
    }
    #moderators_space{
      margin-bottom: 20px;
      margin-left: 75px;
    }
    .host_title {
    color: #466597;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    }
    .host_name {
    color: #1c3b6e;
    font-family: ;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px !important;
    margin-left: 5px !important;
    }
    .hotel_extra_space{
      margin-top: 5px !important;
    }
    #speakers_space{
      margin-top: 0px !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}